@model Checkout.Payments.GetPaymentDetailsResponse

@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<div>
    <h4>GetPaymentDetailsResponse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentIp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentIp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">New payment</a>
</div>
