@model Checkout.Payments.GetPaymentResponse

@{
    ViewData["Title"] = "Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your payment was declined</h2>

<table class="table table-striped">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RequestedOn)</td>
        <td>@Html.DisplayFor(model => model.RequestedOn)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Amount)</td>
        <td>@Html.DisplayFor(model => model.Amount) @Html.DisplayFor(model => model.Currency)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Reference)</td>
        <td>@Html.DisplayFor(model => model.Reference)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Status)</td>
        <td>@Html.DisplayFor(model => model.Status)</td>
    </tr>
    <tr>
        <td>Card Source Id</td>
        <td>@Html.DisplayFor(model => model.Source.AsCard().Id)</td>
    </tr>
    <tr>
        <td>Response Code</td>
        <td>@Html.DisplayFor(model => model.GetAuthorizationAction().ResponseCode)</td>
    </tr>
    <tr>
        <td>Response Summary</td>
        <td>@Html.DisplayFor(model => model.GetAuthorizationAction().ResponseSummary)</td>
    </tr>
</table>
<div>
    <a asp-action="Index">New payment</a>
</div>
